/* style.css */
:root {
    --color: #596D48;
}

@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    /*flex-direction: row;*/
}

.content {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.header {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
}

.header-image-container {
    background-color: rgba(0, 0, 0, .5);
    color: black;
    height: auto;
    position: relative;
    top: 30vh;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header-image {
    height: 10vh;
}

.header-image-text {
    color: white;
    font-size: 60px;
    font-family: norse-bold;
    align-self: center;
}

.header-bg-disclaimer {
    color: white;
    font-size: 12px;
    position: relative;
    top: 85vh;
}

.header-bg-disclaimer a {
    color: white;
}

.form {
    background-color: whitesmoke;
    width: 60vw;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.form-banner {
    font-weight: 600;
    padding-top: 100px;
    padding-left: 3vw;
}

.form-body {
    background-color: white;
    height: 25vh;
    padding-top: 1vh;
    padding-left: 3vw;
}

.form-body-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1vw;
}

.form-body-inputs {
    border: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.form-item {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.form-create {
    background-color: var(--color);
    color: white;
    font-size: 16px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 3vw;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
}

.form-action {
    height: 30vh;
    padding-left: 3vw;
}

.form-action-login a {
    color: var(--color);
}